@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/mons/Montserrat-SemiBold.eot');
    src: url('../fonts/mons/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mons/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/mons/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/mons/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/mons/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/mons/Montserrat-Regular.eot');
    src: url('../fonts/mons/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mons/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/mons/Montserrat-Regular.woff') format('woff'),
        url('../fonts/mons/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/mons/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/mons/Montserrat-Bold.eot');
    src: url('../fonts/mons/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mons/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/mons/Montserrat-Bold.woff') format('woff'),
        url('../fonts/mons/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/mons/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/mons/Montserrat-Medium.eot');
    src: url('../fonts/mons/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mons/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/mons/Montserrat-Medium.woff') format('woff'),
        url('../fonts/mons/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/mons/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Italic.eot');
    src: url('../fonts/ubuntu/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/Ubuntu-Italic.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-Italic.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype'),
        url('../fonts/ubuntu/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Regular.eot');
    src: url('../fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype'),
        url('../fonts/ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Light.eot');
    src: url('../fonts/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-Light.ttf') format('truetype'),
        url('../fonts/ubuntu/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Bold.eot');
    src: url('../fonts/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype'),
        url('../fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Medium.eot');
    src: url('../fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype'),
        url('../fonts/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Calisto MT Std';
    src: url('../fonts/calisto/CalistoMTStd-Bold.eot');
    src: url('../fonts/calisto/CalistoMTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/calisto/CalistoMTStd-Bold.woff2') format('woff2'),
        url('../fonts/calisto/CalistoMTStd-Bold.woff') format('woff'),
        url('../fonts/calisto/CalistoMTStd-Bold.ttf') format('truetype'),
        url('../fonts/calisto/CalistoMTStd-Bold.svg#CalistoMTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




body{
    font-family: 'Montserrat';
}
.header-section{
    background-image: url(../images/ban2.png);
    height:825px;
    width: 100%;
    background-repeat: no-repeat;
    
}

.e-slim-content {
    width: 450px;
    height: 450px;
    background-color: #ff4e62;
    border-radius: 100%;
    overflow: hidden;
    float: right;
    padding:50px 80px;
    text-align: center;
    margin: 112px 1px;
}

.e-slim-head h1 {
    
    color: #ff4e62;
    background: #ffffff;
    border-radius: 35px;
    width: 50%;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 29px;
    padding: 11px 0px;
    margin-left: 64px;
    font-weight: bold;
}

span.green {
    color: green;
}

.e-slim-head p {
    color: white;
    font-size: 21px;
    font-weight: bold;
}

input.form-control.eslim-input {
    margin-top: 15px;
}

button.sub-button {
    background-color: #5b9c2d;
    padding: 9px 55px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    margin: 23px 0px;
}

/* about e slim start */

.item-wrapper {
    height: 280px;
    max-height: 100%;
    flex-basis: 33%;
    display: flex;
}

.about-eslim-content {
    text-align: center;
    padding-bottom: 50px;
}


.about-eslim-content h1 {
    font-weight: normal;
    font-family: 'Ubuntu';
    color:#212121;
}


.redborder {
    height: 5px;
    /* width: 100px; */
    background-color: #ff4e62;
    text-align: center;
    margin: 0px 500px;
}


.about-eslim-content .we-at { 
    font-family: 'Ubuntu';
    font-weight: 300;
    color:#4e4e4e;
    font-size: 18px;
    padding: 35px 120px;
}




.about-eslim-slidercontent1{
    background-image: url(../images/rect1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px 9px;
}
.about-eslim-slidercontent2{
    background-image: url(../images/rect2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px 9px;
}

.about-eslim-slidercontent3{
    background-image: url(../images/rect3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px 9px;
}
.about-eslim-slidercontent4{
    background-image: url(../images/rect4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px 9px;
}


.about-eslim-slidercontent1 p {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 18px;
}
.about-eslim-slidercontent2 p {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 18px;
}
.about-eslim-slidercontent3 p {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 18px;
}
.about-eslim-slidercontent4 p {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 18px;
}

.about-eslim-slidercontent1 img{
    max-height: 400px;
}
.about-eslim-slidercontent2 img{
    max-height: 400px;
}

.about-eslim-slidercontent3 img{
    max-height: 400px;
}

.about-eslim-slidercontent4 img{
    max-height: 400px;
}

.cir-image {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    max-width: 195px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: CENTER;
    margin:0 auto;
}
/* about e slim end */

/* gaining weight start */

.gaining-weight{
    background-image: url(../images/eat.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}


.gain-weight {
    padding:70px 241px;
    text-align: center;
}


.gain-weight .why {
    color: #212121;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 36px;
}

.gain-weight .how-many {
    color: #333333;
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 23px;
    padding-top: 15px;
}

.gain-weight .ninty-per{
font-family: 'Calisto MT Std';
font-weight: bold;
font-size: 30px;
color: #ff4e62;
padding: 30px 0px;
margin: 0 60px;
}

.gaining-weight::before{
    content: url(../images/left-coma.png);
    left: 370px;
    top: 350px;
    position: relative;
}

.gaining-weight::after{
    content: url(../images/right-coma.png);
    position: relative;
    bottom: 102px;
    left: 792px;
}
/* gaining weight end */


/* lack-of-min start */
.lack-content {
    padding: 35px 0px;
}

.lack-of-min{
    text-align: center;
}

.mineral-border{
    height: 5px;
    background-color: #ff4e62;
    text-align: center;
    margin: 0px 512px;
}

.lack-content p{
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 30px;
    margin: 00px 400px;
}

.vitamin-main {
    text-align: center;
    /* padding: 16px 0px; */
}

.vitamin-img {
    max-width: 150px;
    margin: 0px 100px;
    height: 146px;
}

.vitamin-main h1 {
    color: #ff4e62;
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.vitamin-main p{
    font-family: 'Ubuntu';
    font-weight: 500;
    color: #303030;
}

.itembox{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 1px dotted #b3b1b1;
    border-radius: 20px;
    max-height: 40%;
    height: 299px;
}
/* lack-of-min end */


/* green back start */
.green-back{
    background-image: url(../images/green-grapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 0px;
}


.green-back-cirle {
    border-radius: 50%;
    border-color: white;
    border: 3px solid white;
    height: 140px;
    width: 140px;
    overflow: hidden;
    margin: 0 auto;
}

.green-back-cirle img {
    padding: 31px 29px;
    /* font-size: 58px; */
    max-width: 135px;
}

.green-para p {
    color: white;
    width: 18ch;
    text-align: center;
    margin: 17px auto;
}


.green-content {
    padding-top: 124px;
}

.uniq-sel-leaf{
    text-align: center;
    padding: 75px 0px;
}

.uniq-sel-leaf p{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 25px;
    margin: 0px 371px;
}




/* green back ends */


.success-section{
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}

.story-content .story-head{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 36px;
}

.story-content .des{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    padding: 20px 0px;
}

.story-content .name{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    color:#fe596c;
    margin: 0px !important;
}

.story-content .age{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
    color:#3d3d3d;
    margin: 0px !important;
}

.order-now{
    background-color: #69b31a;
}

.order-now-para p{
    color: white;
}

.order-now-para {
    text-align: center;
    padding: 115px 0px;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 20px;

}

button.order-now {
    margin: 0 auto;
    background-color: #ff4e62;
    padding: 10px 30px;
    border-radius: 35px;
    color: white;
    border: none;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 40px;
    outline: none;
}

.item.vitaminItems {
    margin: 5px 15px;
}


  #top {
      transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      display:none;
      cursor: pointer;
  }

/* .item {
    padding: 0px 13px;
} */

/* responsive start */

@media only screen and (max-width:1024px){
.e-slim-content{
    width: 290px;
    height: 290px;
    padding: 17px 23px;
    text-align: center;
    margin: 160px 0px;
}
button.sub-button{
    margin: 0px !important;
    padding: 11px 23px;
}
input.form-control.eslim-input{
    max-width: 180px;
    width: 100%;
    margin: 5px 39px;

}
.e-slim-head h1{
    margin: 0px 57px;
    padding: 5px 0px;
}

.e-slim-head p{
    margin: 6px 0px;
}
.about-eslim-content .we-at{
    padding: 0px; 
}
.gain-weight{
    padding:0px;
}
.gaining-weight{
    overflow: hidden;
    background-size: cover;
}

.gaining-weight::before{
    left: 0px;
    top: 469px;
}
.gaining-weight::after{
    left: 220px;
    bottom: 45px;
}
.green-back{
    overflow: hidden;
    background-size: cover;
}
.green-content{
    padding: 0px 61px;
}

.cir-image{
    margin: 0 auto;
}
.vitamin-img{
    margin: 0 auto;
}
.itembox{
    height: 350px;
}

.uniq-sel-leaf p{
    margin: 0 auto;
}
.lack-content p{
    margin:0 auto;
    font-size: 28px;
}
}
