@font-face {
    font-family: 'Calisto MT Std';
    src: url('CalistoMTStd-Bold.eot');
    src: url('CalistoMTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CalistoMTStd-Bold.woff2') format('woff2'),
        url('CalistoMTStd-Bold.woff') format('woff'),
        url('CalistoMTStd-Bold.ttf') format('truetype'),
        url('CalistoMTStd-Bold.svg#CalistoMTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

